*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #310752;
    font-family: Calibri;
    font-size: 12px;
}
@media(min-width: 500px){
    body{
        font-size: 18px;
    }
    .text-header p{
        font-size: 10px;
    }
}
@media(min-width: 600px){
    body{
        font-size: 20px;
    }
}
header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu{
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
}
.menu ul{
    display: flex;
    justify-content: space-around;
}
.menu a{
    display: block;
    padding: 10px 20px;
}
.menu a:hover{
    font-weight: bold;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: gray;
}
.img-perfil{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.title{
    color: white;
    margin-bottom: 2px;
    text-align: center;
    font-size: 2em;
}
.subtitle{
    color: white;
    margin-top: 2px;
    text-align: center;
}
.text-header p{
    color: #ccc;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}
@media(max-width: 500px){
    .text-header p{
        font-size: 10px;
    }
}
.portfolio{
    padding: 2em;
    height: 100vh;
    background-color:#412159;
}
.img-portfolio{
    width: 200px;
    height: 200px;
}
.contato{
    justify-content: center;
    padding: 2em;
    height: 100vh;
    background-color: #310752;
}
.grid-contato{
    text-align: center;
}
.contato a{
    justify-content: center;
    color: whitesmoke;
    font-size: 6em;
    transition: text-shadow 0.5s;
}
.contato a:hover{
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}